/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* Style for the navigation bar */
nav {
    background-color: #F1F3F4;
    color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo > img {
   
   width: 43px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid black;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f00;
}

/* Style for the mobile navigation menu */
.burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Style for Swiper Css*/
.container
{
    display: flex;
    justify-content: center;
    align-items: left;

}

.container > p
{
    font-size: 24px;

    
}

.content
{
    margin: 130px 0px;
    margin-left: -500px;
    font-size: 3.6rem;
    width:400px;
    font-family: Georgia, serif;
    font-style: italic;
}

#default
{
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 3px whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

#typewriter-text
{
    filter: drop-shadow(3px 10px 10px black);
    color: #FFBD59;
    font-family: "Arial Black", Gadget, sans-serif;
}

/*Typewriter animation CSS*/
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #333;
    font-size: 24px;
    animation: typing 10s steps(40, end), blink-caret 0.50s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}


/* Media query for small screens (e.g., mobile) */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: block;
    }
}
